@font-face {
  font-family: 'Gantari';
  src: url('../public/fonts/Gantari-VariableFont_wght.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Gantari';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
